@using DasKlub.Lib.AppSpec.DasKlub.BOL.UserContent
@using DasKlub.Lib.BOL.UserContent
@using DasKlub.Lib.Resources
@using DasKlub.Lib.Values
@model DasKlub.Lib.BOL.UserContent.ContentComments
@{
    ViewBag.Title = Messages.ManageNewsComments;
}
@{ Html.RenderPartial("_adminMenu"); }
<h2>@Messages.ManageNewsComments</h2>
 
<table>
    <tr>
        <th>@Messages.Name
        </th>

        <th>@Messages.IpAddress
        </th>
       
        <th>@Messages.CreatedOn
        </th>

        <th>@Messages.Status
        </th>


        <th>
        </th>
    </tr>
    @foreach (ContentComment item in Model)
    {
        <tr>
            <td>
                @item.FromName
            </td>

            <td>
                @item.IpAddress
            </td>
           
            <td>
                @item.CreateDate
            </td>

            <td>
                @item.StatusTypeName
            </td>


            <td>
                @Html.ActionLink(Messages.Edit,
                                 "EditArticleComment", new {id = item.ContentCommentID})
            </td>
        </tr>
    }
</table>
@{
    int pageSize = Convert.ToInt32(ViewBag.PageCount);

    for (int pageNumber = 1; pageNumber <= pageSize; pageNumber++)
    {
        if (string.IsNullOrEmpty(Request.QueryString[
            SiteEnums.QueryStringNames.pg.ToString()]) &&
            pageNumber == 1)
        {
            @pageNumber
        }
        else if (!string.IsNullOrEmpty(Request.QueryString[
            SiteEnums.QueryStringNames.pg.ToString()]) &&
                 pageNumber ==
                 Convert.ToInt32(Request.QueryString[
                     SiteEnums.QueryStringNames.pg.ToString()])
            )
        {
            @pageNumber
        }
        else
        {
            <a href="@Url.Content("~/account/articlecomments/?" +
                                  SiteEnums.QueryStringNames.pg.ToString() +
                                  "=" + pageNumber.ToString())">@pageNumber.ToString()</a>
        }
    }
}