@using DasKlub.Lib.Resources
@model DasKlub.Lib.AppSpec.DasKlub.BOL.UserContent.Content
@{
    ViewBag.Title = Messages.EditArticle;
}
@{ Html.RenderPartial("_adminMenu"); }
<h2>@Messages.EditArticle</h2>

<br />
@Html.Label(Messages.Link)
<a target="_blank" href="@Model.UrlTo" rel="#">@Model.UrlTo</a>
<br /><br />
@using (Html.BeginForm("EditArticle", "SiteAdmin", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)

    @Html.Partial("_contentForm")
    ;


    <button style="margin-right: 100px;" type="submit" value="save" class="btn btn-success">@Messages.Submit</button>


    @Html.ActionLink(Messages.Delete,
                     "DeleteArticle", new {id = Model.ContentID},
                     new
                         {
                             @class = "btn btn-danger",
                             onclick = "return confirm('" +
                                       Messages.Delete + "?')"
                         })
}