@using DasKlub.Lib.Resources
@using DasKlub.Lib.Values
@model DasKlub.Lib.AppSpec.DasKlub.BOL.ProductItem.Products
@{
    ViewBag.Title = Messages.ManageProducts;
}
@{ Html.RenderPartial("_adminMenu"); }
<h2>@Messages.ManageProducts</h2>
@Html.ActionLink(Messages.CreateANewProduct, "CreateProduct")
<table>
    <tr>
        <th>@Messages.Name
        </th>
        <th>
            @Messages.IsInStock
        </th>
        <th>@Messages.CreatedOn
        </th>
       
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.UrlTo" target="_blank"> @item.Name</a>
            </td>
            <td>
                @item.IsInStock
            </td>
            <td>
                @item.CreateDate
            </td>
           
            <td>
                @Html.ActionLink(Messages.Edit,
                    "EditProduct", new {id = item.ProductID})
            </td>
        </tr>
    }
</table>
@{
    int pageSize = Convert.ToInt32(ViewBag.PageCount);

    for (int pageNumber = 1; pageNumber <= pageSize; pageNumber++)
    {
        if (string.IsNullOrEmpty(Request.QueryString[
            SiteEnums.QueryStringNames.pg.ToString()]) &&
            pageNumber == 1)
        {
            @pageNumber
        }
        else if (!string.IsNullOrEmpty(Request.QueryString[
            SiteEnums.QueryStringNames.pg.ToString()]) &&
                 pageNumber ==
                 Convert.ToInt32(Request.QueryString[
                     SiteEnums.QueryStringNames.pg.ToString()])
            )
        {
            @pageNumber
        }
        else
        {
            <a href="@Url.Content("~/account/articlecomments/?" +
                                  SiteEnums.QueryStringNames.pg +
                                  "=" + pageNumber)">@pageNumber.ToString()</a>
        }
    }
}