@using DasKlub.Lib.Operational
@using DasKlub.Lib.Resources
 
@{
    ViewBag.Title = Messages.UserManagement;
}

<div class="row">
    <div class="span8">
        <h2>@Messages.UserManagement</h2>


        @if (ViewBag.SelectedUser != null)
        {
            <form action="@Url.Content("~/siteadmin/updateroles")" method="post">

                <fieldset>
                    
                    
                    <div class="editor-label">
                        ID
                    </div>
                    <div class="editor-field">
                 <b>       @ViewBag.SelectedUser.UserAccountID</b>
                    </div>
                    


                    <div class="editor-label">
                        @Messages.UserName
                    </div>
                    <div class="editor-field">
                        <input type="hidden" name="userAccountID" value="@ViewBag.SelectedUser.UserAccountID" />
                        <b>
                            @ViewBag.SelectedUser.UserName</b>
                    </div>

                    <div class="editor-label">
                        @Messages.Age
                    </div>
                    <div class="editor-field">
                      
                        <b>@Utilities.CalculateAge(ViewBag.UserAccountDetail.BirthDate)
                            
                            @ViewBag.UserAccountDetail.BirthDate.ToString("o")
                        </b>
                    </div>

                    
                    <div class="editor-label">
                        @Messages.IpAddress
                    </div>
                    <div class="editor-field">
                      
                        <b> @ViewBag.SelectedUser.IpAddress
                        </b>
                    </div>


                           
                    <div class="editor-label">
                        @Messages.EMail
                    </div>
                    <div class="editor-field">
                      
                        <b> @ViewBag.SelectedUser.EMail
                        </b>
                    </div>

                    <div class="editor-label">
                        @Messages.Roles
                    </div>
                    <div class="editor-field">
                        @if (ViewBag.AllRoles != null)
                        {
                            string[] rolesForUser = Roles.GetRolesForUser(ViewBag.SelectedUser.UserName);

                            <ul>
                                @foreach (string role in ViewBag.AllRoles)
                                {
                                    <li>@role
                                        <input type="checkbox" name="roleOption" value="@role"
                                            @foreach (string userRole in rolesForUser)
                                            {
                                                if (userRole == role)
                                                {
                                                    <text>
                                                        checked="checked"     
                                                    </text>
                                                    break;
                                                }
                                            }
                                            />
                                    </li>
                                }
                            </ul>
                        }

                    </div>
                    <span>
                        Is locked out?
                    </span>
                    @if (ViewBag.SelectedUser.IsLockedOut)
                    {
                    <input type="checkbox" checked="checked" name="isLockedOut" />    
                    }
                    else
                    {
                        <input type="checkbox"  name="isLockedOut" />
                    }
                    
                    <br />
                </fieldset>
                <input class="btn btn-success" type="submit" value="@Messages.Submit" />
            </form>


            <hr />
        }
        <form action="@Url.Content("~/siteadmin/findbyemail")" method="post">

            <fieldset>
                <legend>@Messages.Search</legend>
                <div class="editor-label">
                    @Html.Label(Messages.EMail)
                </div>
                <div class="editor-field">
                    <input type="email" name="email" />
                </div>
            </fieldset>
            <input class="btn btn-success" type="submit" value="@Messages.Search" />
        </form>

        <br />
        <br />

        <form action="@Url.Content("~/siteadmin/findbyusername")" method="post">

            <fieldset>
                <legend>@Messages.Search</legend>
                <div class="editor-label">
                    @Html.Label(Messages.UserName)
                </div>
                <div class="editor-field">
                    <input type="text" name="username" />
                </div>
            </fieldset>
            <input class="btn btn-success"  type="submit" value="@Messages.Search" />
        </form>


    </div>
    <div class="span4">
    </div>
</div>