@using DasKlub.Lib.BOL.UserContent
@using DasKlub.Lib.Resources
@using DasKlub.Lib.Values
@model DasKlub.Lib.BOL.UserContent.Contents
@{
    ViewBag.Title = Messages.ManageNews;
}
@{ Html.RenderPartial("_AdBanner728x90"); }
<h2>@Messages.ManageNews</h2>
<hr />
@Html.ActionLink(Messages.CreateNew, "CreateArticle", null, new {@class = "btn btn-primary"})
<table>
    <tr>
        <th>@Messages.Photo
        </th>

        <th>@Messages.Language
        </th>
        <th>@Messages.Title
        </th>
          

        <th>@Messages.CreatedOn
        </th>
        <th>
        </th>
    </tr>
    @foreach (Content item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ContentPhotoThumbURL))
                {
                    <a target="_blank" href="@item.UrlTo">
                        <img alt="@item.Title"  
                             src="@Html.S3ContentPath(item.ContentPhotoThumbURL)" />
                    </a>
                }
            </td>
            <td>
                @item.Language
            </td>
            <td>
                <a target="_blank" href="@item.UrlTo">@item.Title</a>
            </td>
            
            <td>
                @item.CreateDate
            </td>
            <td>
                @Html.ActionLink(Messages.Edit,
                    "EditArticle", new {id = item.ContentID})
            </td>
        </tr>
    }
</table>
@{
    int pageSize = Convert.ToInt32(ViewBag.PageCount);

    for (int pageNumber = 1; pageNumber <= pageSize; pageNumber++)
    {
        if (string.IsNullOrEmpty(Request.QueryString[
            SiteEnums.QueryStringNames.pg.ToString()]) && pageNumber == 1)
        {
            @pageNumber
        }
        else if (!string.IsNullOrEmpty(Request.QueryString[
            SiteEnums.QueryStringNames.pg.ToString()]) &&
                 pageNumber ==
                 Convert.ToInt32(Request.QueryString[
                     SiteEnums.QueryStringNames.pg.ToString()])
            )
        {
            @pageNumber
        }
        else
        {
            <a href="@Url.Content("~/account/usercontent/?" +
                                  SiteEnums.QueryStringNames.pg +
                                  "=" + pageNumber)">@pageNumber.ToString()</a>
        }
    }
}