@using DasKlub.Lib.Resources
@{
    ViewBag.Title = Messages.ForgotYourPassword;
    Layout = "~/Views/Shared/Site.cshtml";
}
<div class="row">

    <div class="span8">


        @{ Html.RenderPartial("_AdBanner728x90"); }


        @if (ViewBag.Result != null)
        {
            <div class="green">
                @Html.Raw(ViewBag.Result)
            </div>
        }


        <h2>@Messages.ForgotYourPassword</h2>

        <hr />
 
        @using (Html.BeginForm())
        {
            <div>
                <fieldset>
            
                    <div class="editor-label">
                        @Messages.EMail:
                    </div>
                    <div class="editor-field">
                        @Html.TextBox("email")
                    </div>
                    <p>
                        <input class="btn btn-success" type="submit" value="@Messages.PasswordReset" />
                    </p>
                </fieldset>
            </div>
        }


    </div>


    <div class="span4">

    </div>

</div>