@using DasKlub.Lib.Resources

@{
    ViewBag.Title = Messages.Visitors;
}
<div class="row" >
    <div class="span8">
        @{ Html.RenderPartial("_AdBanner728x90"); }
        <h2>@Messages.Visitors</h2>
 
  

        @if (ViewBag.EnableProfileLogging != null && !ViewBag.EnableProfileLogging)
        {
            <i>
                @Messages.Disabled</i>
        }
        else
        {
            <img alt="@Messages.Visitors" title="@Messages.Visitors" src="@Url.Content("~/content/images/userstatus/eye_spy.png")" />
            <br />
            if (ViewBag.TheViewers != null)
            {
                @Html.Raw(ViewBag.TheViewers)
            }
            else
            {
                <span>You must be a supporter to see your viewers! <a href="~/store">Donate $10 or more with your account email</a></span>
            }
        }      
    </div>

    <div class="span4">
        @{ Html.RenderPartial("_AdBanner160x600"); }
       
    </div>

</div>