@using DasKlub.Lib.Resources
@{
    ViewBag.Title = Messages.Map;
}
<div class="row" >
    <div class="span12">
        @{ Html.RenderPartial("_AdBanner728x90"); }
        <h2>@Messages.Map</h2>
        <hr />
        <a target="_blank" href="@Url.Content("~/map/frame")">@Messages.FullScreen</a>
 
        <iframe src="@Url.Content("~/map/frame")" style="height: @ViewBag.MapHeight; width: 100%;"></iframe>
 
    </div>
</div>