
@using DasKlub.Lib.BOL
@using DasKlub.Lib.Configs
@using DasKlub.Lib.Operational
@using DasKlub.Lib.Resources
@model  DasKlub.Web.Models.ProfileModel
@{
    ViewBag.Title = Model.UserName;
    ViewBag.MetaDescription = Model.MetaDescription;
}
<span class="user_name">@Model.UserName </span>
@if (Model.UserAccountID > 0)
{
    <div class="row">
        <div class="span5">
            <div class="span3" style="margin: 0;">
                 
                
                @{ string coName = string.Format(@"<div  class=""sprites  sprite-{0}_small"" alt=""{1}"" title=""{1}""></div> ", Model.CountryCode, Model.CountryName); }
             
                @Html.Raw(coName)
              

                <span title="@Utilities.GetLanguageNameForCode(Model.DefaultLanguage)">@Model.DefaultLanguage</span>
                @Html.Raw(Model.RoleIcon)
                @if (ViewBag.UserAccount != null &&
                     UserAccount.IsUserOnline(
                         Convert.ToInt32(ViewBag.UserAccount.UserAccountID)))
                {
                    <img style="height: 10px; width: 10px;" alt="@ViewBag.DisplayName @Messages.IsOnline"
                         title="@ViewBag.DisplayName @Messages.IsOnline"
                         src="@Url.Content("~/content/images/status/abutton2_e0.gif")" />
                }
                @if (ViewBag.UserAccountDetail.IsBirthdayToday)
                {
                    <img src="@Url.Content("~/content/images/icons/b_day_hat.png")" title="@Messages.HappyBirthday" alt="@Messages.HappyBirthday" />
                }
                <img src="@Model.ProfilePhotoMain"
 
                     style="border: none; display: none;"
                     alt="@Model.UserName"
                     id="largeImg" />
                <div id="rotator">
                    <ul>
                        <li class="show">
                            <img src="@Model.ProfilePhotoMain" alt="pic1" /></li>
                        <li>
                            <img src="@ViewBag.SecondUserPhotoFull" alt="pic2" /></li>
                        <li>
                            <img src="@ViewBag.ThirdUserPhotoFull" alt="pic3" />
                        </li>
                    </ul>
                </div>

                <hr />
                <ul class="contact_options">
                    <li class="message_option"><a href="@Url.Content("~/account/reply/" + Model.UserName)" class="btn-inverse btn">@Messages.SendMessage</a>
                    </li>
                    @if (!Model.IsViewingSelf)
                    {
                        if (Model.IsCyberFriend)
                        {
                            <li class="cyber_option_green"><i>@Messages.CyberAssociates</i></li>
                        }
                        else if (Model.IsWatingToBeCyberFriend)
                        {
                            <li class="cyber_option_orange"><i>@Messages.CyberAssociates: @Messages.Waiting</i></li>
                        }
                        else if (!Model.IsDeniedCyberFriend && !Model.IsDeniedRealFriend && !Model.IsRealFriend)
                        {
                            <li class="cyber_option"><a class="btn-inverse btn" href="@Url.Content("~/account/contactrequest/?contacttype=C&username=" + Model.UserName)">
                                                         @Messages.AddAsCyberAssociate</a></li>
                        }


                        if (Model.IsRealFriend)
                        {
                            <li class="irl_option_green"><i>@Messages.RealLifeContacts</i></li>
                        }
                        else if (Model.IsWatingToBeRealFriend)
                        {
                            <li class="irl_option_orange"><i>@Messages.RealLifeContacts: @Messages.Waiting</i></li>
                        }
                        else if (!Model.IsDeniedRealFriend)
                        {
                            <li class="irl_option"><a class="btn-inverse btn" href="@Url.Content("~/account/contactrequest/?contacttype=R&username=" + Model.UserName)">
                                                       @Messages.AddAsRealLifeContact</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="span2 profile_group">
                <div>
                    <ul class="profile_images">
                        <li><a id="photo_edit_1" title="@Messages.CurrentDefault"
                               href="@Model.ProfilePhotoMain"  
                               class="current_view_profile_pic profile_thumb m_over">
                                <img src="@Model.ProfilePhotoMainThumb" alt="@Messages.CurrentDefault"  title="@Messages.CurrentDefault"   />
                            </a></li>
                        @if (!string.IsNullOrWhiteSpace(ViewBag.SecondUserPhotoThumb))
                        {
                            <li><a  id="photo_edit_2"  title="2" 
                                    href="@ViewBag.SecondUserPhotoFull"   class="profile_thumb m_over">
                                    <img   src="@ViewBag.SecondUserPhotoThumb"      />
                                </a></li>
                        }
                        @if (!string.IsNullOrWhiteSpace(ViewBag.ThirdUserPhotoFull))
                        {
                            <li><a  id="photo_edit_3"  title="3" 
                                    href="@ViewBag.ThirdUserPhotoFull"
                
                                    class="profile_thumb m_over">
                                    <img   src="@ViewBag.ThirdUserPhotoThumb"     />
                                </a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="span7">
            @if (string.IsNullOrEmpty(Convert.ToString(ViewBag.UserPlaylistID)))
            {
                <iframe width="63%" height="@ViewBag.VideoHeight"
                        src="@GeneralConfigs.DefaultVideo?autoplay=1" frameborder="0" allowfullscreen>
                </iframe>
                <br />
                <i>To replace default video, add a video to your playlist</i>
            }
            else
            {
                <div id="player">
                </div>

                <div class="row">
                    <div class="span2">
                        <img src="@Url.Content("~/content/images/icons/speaker_on.png")"
                             alt="on" id="speaker_sound" onclick=" toggleSound() "
                             title="@Messages.TurnSoundOff" />
                        <span id="speaker_words">@Messages.SoundOn</span>
                    </div>
                    <div class="span2">
                        <div class="next_video" src="@Url.Content("~/content/images/forward_arrow.png")" alt="@Messages.NextVideo" onclick=" goForwardNewVideo() "
                             id="new_vid_forward" title="@Messages.NextVideo">
                        </div>
                        <span>@Messages.NextVideo</span>
                    </div>
                </div>


                <b>@Messages.Music:</b>
                <div id="current_song">
                </div>
                <b>@Messages.Uploader:</b>
                <div id="user_account">
                </div>

                <a class="btn btn-primary" id="add_to_playlist" href="#">@Messages.AddToPlaylist</a>
            }
        </div>
    </div>


    <div class="row">
        <div class="span5">
            <hr />
            
            @{ Html.RenderPartial("_AdBanner234x60"); }
            @if (!string.IsNullOrWhiteSpace(Model.MostRecentStatusUpdate))
            {
                <h5>@Messages.LatestUpdate</h5>
                <i>@Utilities.TimeElapsedMessage(Model.LastStatusUpdate)</i>
                <div class="post_content">@Html.Raw(FromString.Truncate(Model.MostRecentStatusUpdate, 200))</div>
                <br />
            }
            <hr />
            <h5>@Messages.BasicDetails</h5>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>
                            @Messages.YouAre
                        </td>
                        <td>
                            <img src="@Url.Content("~/content/images/sex/" + @Model.YouAre + ".png")" alt="@Model.YouAreFull" title="@Model.YouAreFull" />
                            @Model.YouAreFull
                        </td>
                    </tr>
                    @if (!string.IsNullOrWhiteSpace(Model.RelationshipStatusFull) &&
                         Model.RelationshipStatusFull != Messages.Unknown)
                    {
                        <tr>
                            <td>
                                @Messages.RelationshipStatus
                            </td>
                            <td>
                                <img src="@Url.Content("~/content/images/relationshipstatus/" + @Model.RelationshipStatus + ".png")" alt="@Model.RelationshipStatusFull"
                                     title="@Model.RelationshipStatusFull" />
                                @Model.RelationshipStatusFull
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.InterestedInFull) &&
                         Model.InterestedInFull != Messages.Unknown)
                    {
                        <tr>
                            <td>
                                @Messages.InterestedIn
                            </td>
                            <td>
                                <img src="@Url.Content("~/content/images/interestedin/" + @Model.InterestedIn + ".png")" alt="@Model.InterestedInFull" title="@Model.InterestedInFull" />
                                @Model.InterestedInFull
                            </td>
                        </tr>
                    }
                    @if (Model.DisplayAge)
                    {
                        <tr>
                            <td>
                                @Messages.Age
                            </td>
                            <td>
                                <span title="@Model.Birthday.ToShortDateString()">
                                    @Model.Age</span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @Messages.LastActive
                        </td>
                        <td>
                            <span title="@Model.LastActivityDate.ToString("o")">
                                @Utilities.TimeElapsedMessage(Model.LastActivityDate)
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Messages.CreatedOn
                        </td>
                        <td>
                            <span title="@Model.CreateDate.ToString("o")">
                                @Utilities.TimeElapsedMessage(Model.CreateDate)
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            @if (Model.DisplayOnMap && !Utilities.IsiPhoneOriPad())
            {
                <hr />
                <h5>@Messages.ApproximateLocation
                </h5>

                <div id="map_canvas" style="height: 250px; width: 100%;">
                </div>
                <br />
            }
            
            <div id="accordion" style="height: 100% !important;">
                @if (!string.IsNullOrWhiteSpace(Model.MessageToTheWorld))
                {
                    <div>
                        <h3 style="padding-left: 15px;">
                            <a href="#">@Messages.MessageToTheWorld</a></h3>
                        <div>@Html.Raw(Model.MessageToTheWorld)</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.UploadedVideos))
                {
                    <div>
                        <h3 style="padding-left: 15px;">
                            <a href="#">@Messages.UploadedVideos</a></h3>
                        <div>@Html.Raw(Model.UploadedVideos)</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.FavoriteVideos))
                {
                    <div>
                        <h3 style="padding-left: 15px;">
                            <a href="#">@Messages.FavoriteVideos</a></h3>
                        <div>@Html.Raw(Model.FavoriteVideos)</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.BandsToSee))
                {
                    <div>
                        <h3 style="padding-left: 15px;">
                            <a href="#">@Messages.BandsYouWantToSeeLiveOrJustListenTo</a></h3>
                        <div>@Html.Raw(Model.BandsToSee)</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.BandsSeen))
                {
                    <div>
                        <h3 style="padding-left: 15px;">
                            <a href="#">@Messages.BandsYouHaveSeenLive</a></h3>
                        <div>@Html.Raw(Model.BandsSeen)</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.HardwareAndSoftwareSkills))
                {
                    <div>
                        <h3 style="padding-left: 15px;">
                            <a href="#">@Messages.HardwareAndSoftwareSkills</a></h3>
                        <div>@Html.Raw(Model.HardwareAndSoftwareSkills)</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Website))
                {
                    <div>
                        <h3 style="padding-left: 15px;">
                            <a href="#">@Messages.Website</a></h3>
                        <div>
                            <a target="_blank" href="@Html.Raw(Model.Website)">@Html.Raw(Model.Website)</a></div>
                    </div>
                }
            </div>
               
            <br />
        </div>
       
        <div class="span7">
              <hr />

            @if (!string.IsNullOrWhiteSpace(Model.PhotoItems))
            {
                
                <h5>
                    <img src="@Url.Content("~/content/images/icons/icon_photo.png")" alt="@Messages.Photos" title="@Messages.Photos" />
                    @Messages.Photos: @Model.PhotoCount</h5>

                @Html.Raw(Model.PhotoItems)

                if (Model.HasMoreThanMaxPhotos)
                {
                    <div class="clear">
                    </div>

                    <a href="@Url.Content("~/" + Model.UserName + "/userphotos")">@Messages.MorePhotos</a>
                    <br />
                }
            }
            else
            {
                
                Html.RenderPartial("_AdBanner468x60");


            }

            <div class="clear">
            </div>
            <hr />

            @if (!string.IsNullOrWhiteSpace(Model.NewsArticles))
            {
               

              
                <h5>
                    <img src="@Url.Content("~/content/images/icons/icon_doc.png")" alt="@Messages.News" title="@Messages.News" />
                    @Messages.News: @Model.NewsCount</h5>

                <br />
                <ul id="article_list" class="no_mp">
                    @Html.Raw(Model.NewsArticles)</ul>

                if (Model.NewsCount > 1)
                {
                    <a href="@Url.Content("~/" + Model.UserName + "/news")">@Messages.ReadMore: @Messages.News</a>
                    <br />
                }
            }
            else
            {
                  
                Html.RenderPartial("_AdBanner250x250");


            }

        </div>
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.SongRecords))
{
    <div class="row">
        <div class="span12">


            <hr />
            <b>@Messages.UploadedVideos</b>
            <div class="video_list">
                @Html.Raw(Model.SongRecords)
            </div>
            <div class="clear"></div>
           
        </div>
    </div>
}
@if (Model.UserAccountID > 0)
{
    <div class="row">
        @if (Model.EnableProfileLogging)
        {
            <hr />

            <div class="span3">
                <h4>@Messages.Visitors: @Model.ProfileVisitorCount</h4>
                <a class="m_over" href="@Url.Content("~/account/ProfileVisitors/" + Model.UserName)">
                    <img alt="@Messages.Visitors" title="@Messages.Visitors"   src="@Url.Content("~/content/images/userstatus/eye_spy.png")" /></a>
            </div>
        }
        <div class="span3">
            <h4>@Messages.CyberAssociates: @Model.CyberFriendCount</h4>
            <a class="m_over" href="@Url.Content("~/account/CyberAssociates/" + Model.UserName)">
                <img  alt="@Messages.CyberAssociates" title="@Messages.CyberAssociates"  src="@Url.Content("~/content/images/userstatus/keyboard.png")" /></a>
        </div>
        <div class="span3">
            <h4>@Messages.RealLifeContacts: @Model.IRLFriendCount</h4>
            <a class="m_over" href="@Url.Content("~/account/irlcontacts/" + Model.UserName)">
                <img  alt="@Messages.RealLifeContacts" title="@Messages.RealLifeContacts"  src="@Url.Content("~/content/images/userstatus/handprint.png")" /></a>
        </div>
    </div>
}
@section _javascriptHead {
    @if (Model.DisplayOnMap && !Utilities.IsiPhoneOriPad())
    {
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=@Utilities.GetCurrentLanguageCode().ToLower()"> </script>
        <script type="text/javascript">
            var map;

            function initialize() {
                var myOptions = {
                    zoom: 11,
                    center: new google.maps.LatLng(@Model.Latitude, @Model.Longitude),
                    mapTypeId: google.maps.MapTypeId.HYBRID
                };
                map = new google.maps.Map(document.getElementById('map_canvas'),
                    myOptions);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    }
    @{ Html.RenderPartial("_toggleSound"); }
}
@section _javascript {

    @if (ViewBag.UserPlaylistID != null)
    {
        <script src="http://www.youtube.com/player_api" type="text/javascript"> </script>
        <script type="text/javascript">

            $(document).ready(function() {


                playlistID = @Html.Raw(Convert.ToString(ViewBag.UserPlaylistID));
                youtubeVideoHeight = '@ViewBag.VideoHeight';
                youtubeVideoWidth = '63%',
                loadFromHash = false;
                autoPlay = @Html.Raw(Convert.ToString(ViewBag.AutoPlayNumber));

                var urlToFetch;


                if (loadFromHash) {
                    urlToFetch = $rootUrl + "io/operation.ashx?vid=" + hashkey;
                } else {
                    urlToFetch = $rootUrl + "io/operation.ashx?param_type=begin_playlist&playlist=" + @Html.Raw(Convert.ToString(ViewBag.UserPlaylistID));
                }

                vidDefault = null;

                //alert(hashkey);
                $.getJSON(urlToFetch, function(data) {

                    vidDefault = data;

                    loadJSONVideo(vidDefault);
                });

            });

        </script>
    }

 
    <script type="text/javascript">

        var lastImgSelect = $('.current_view_profile_pic');
        $('#current_edit').text($(lastImgSelect).attr('title'));
        $('#photo_edit').attr('value', 'photo_edit_1');

        function AfterClick(theCl) {
            $(lastImgSelect).removeClass('current_view_profile_pic');
            $(theCl).addClass('current_view_profile_pic');
            $('#current_edit').text($(theCl).attr('title'));
            $('#photo_edit').attr('value', $(theCl).attr('id'));

        }

        $('a.profile_thumb').click(function() {
            var src = $(this).attr('href');

            $('#largeImg').css('display', 'inherit');
            $('#rotator').css('display', 'none');

            if (src != $('img#largeImg').attr('src').replace(/\?(.*)/, '')) {
                $('img#largeImg').stop().animate({
                        opacity: '0'
                    }, function() {
                        $(this).attr('src', src + '?' + Math.floor(Math.random() * (10 * 100)));
                    }).load(function() {
                        $(this).stop().animate({
                            opacity: '1'
                        });
                    });


            }

            AfterClick(this);
            lastImgSelect = $(this);
            return false;

        });

    </script>
            
    @if (!string.IsNullOrWhiteSpace(ViewBag.SecondUserPhotoFull) &&
         !string.IsNullOrWhiteSpace(ViewBag.ThirdUserPhotoFull))
    {
        <script type="text/javascript">

            function theRotator() {
                //Set the opacity of all images to 0
                $('div#rotator ul li').css({ opacity: 0.0 });

                //Get the first image and display it (gets set to full opacity)
                $('div#rotator ul li:first').css({ opacity: 1.0 });

                //Call the rotator function to run the slideshow, 6000 = change to next image after 6 seconds
                setInterval('rotate()', 6000);

            }

            function rotate() {
                //Get the first image
                var current = ($('div#rotator ul li.show') ? $('div#rotator ul li.show') : $('div#rotator ul li:first'));

                //Get next image, when it reaches the end, rotate it back to the first image
                var next = ((current.next().length) ? ((current.next().hasClass('show')) ? $('div#rotator ul li:first') :
                    current.next()) : $('div#rotator ul li:first'));

                //Set the fade in effect for the next image, the show class has higher z-index
                next.css({ opacity: 0.0 })
                    .addClass('show')
                    .animate({ opacity: 1.0 }, 1000);

                //Hide the current image
                current.animate({ opacity: 0.0 }, 1000)
                    .removeClass('show');

            }

            ;


            $(document).ready(function() {
                //Load the slideshow
                theRotator();
            });

        </script>
    }
        
    <script type="text/javascript">

        $(function() {
            $("#accordion").accordion({
                header: "h3",
                heightStyle: "content"
            });
        });

    </script>
    
    
    
    
    
    
    
    
    @if (Request.Browser.IsMobileDevice)
    {
        <script type="text/javascript">

            $('#load_more_statuses').click(function() {

                $('#loading').fadeIn();
                $.post($rootUrl + '@Model.UserName' + '/wallmessages', { pageNumber: pageNumber },
                    function(data) {

                        pageNumber++;
                        $('#status_update_list_items').append(data.ListItems);


                        $('#loading').fadeOut();
                    });

            });

        </script>
    }
    else
    {
        <script type="text/javascript">

            $(function() {
                $('#status_update_list_items').scrollPagination({
                    'contentPage': $rootUrl + '@Model.UserName' + '/wallmessages', // the page where you are searching for results
                    'contentData': {}, // you can pass the children().size() to know where is the pagination
                    'scrollTarget': $(window), // who gonna scroll? in this example, the full window
                    'heightOffset': 75, // how many pixels before reaching end of the page would loading start? positives numbers only please
                    'beforeLoad': function() { // before load, some function, maybe display a preloader div
                        $('#loading').fadeIn();
                    },
                    'afterLoad': function(elementsLoaded) { // after loading, some function to animate results and hide a preloader div
                        $('#loading').fadeOut();

                        pageNumber++;
                        var i = 0;
                        $(elementsLoaded).fadeInWithDelay();
                        if ($('#status_update_list_items').children().size() > 10000) { // if more than 100 results loaded stop pagination (only for test)
                            $('#nomoreresults').fadeIn();
                            $('#status_update_list_items').stopScrollPagination();


                        }
                    }
                });

                // code for fade in element by element with delay
                $.fn.fadeInWithDelay = function() {
                    var delay = 0;
                    return this.each(function() {
                        $(this).delay(delay).animate({ opacity: 1 }, 600);
                        delay += 100;
                    });
                };

            });

        </script>
    }
    
}
@section _css {
    @if (Request.Browser.IsMobileDevice)
    {
        <style type="text/css">
              
 

            .profile_images li img {
                height: 55px;
                width: 55px;
            }

            .photo_item_list li img {
                height: 50px;
                width: 50px;
            }
            
            
            .photo_item_list img {
                margin: 0;
                padding: 0;
            }
        </style>
    }
    <style type="text/css">
        ul.photo_item_list {
            margin: 0;
            padding: 0;
        }

        div#accordion div {
            font-size: 14px;
            line-height: 1.7em;
            text-align: justify;
        }
    </style>
}

<hr />
<div class="row">
     
    <div class="span5">
 
 
        <h4>@Messages.Comments</h4>

        @Html.Partial("_wallMessages", Model)

        <hr />
            
                

        @{ Html.RenderPartial("_AdBanner468x60"); }
    
        <hr />
        <br />
        @if (Request.IsAuthenticated && !Model.IsViewingSelf)
        {
            <div class="row" style="padding-top: 20px">
                @if (Model.UserConnectionID > 0)
                {
                    @Html.ActionLink(Messages.Delete + ": " + Model.UserName,
                                     "DeleteContact", "account",
                                     new { @userConnectionID = Model.UserConnectionID }, new { @onclick = "return confirm('" + Messages.Delete + ": " + Model.UserName + "')" })
                }
                <br />
                @Html.ActionLink(Messages.Block + ": " + Model.UserName,
                                 "blockeduser", "account", new { @userAccountID = Model.UserAccountID },
                                 new { @onclick = "return confirm('" + Messages.Block + ": " + Model.UserName + "')" })
                <br />
                @Html.ActionLink("Accuse" + ": " + Model.UserName + " of thought crime.",
                                 "reportuser", "account", new { @userAccountID = Model.UserAccountID },
                                 new { @onclick = "return confirm('" + "Accuse: " + ": " + Model.UserName + " of thought crime?" + "')" })
            </div>
        }
    
        @if (Request.Browser.IsMobileDevice)
        {
            <button class="btn btn-primary dropdown-toggle" id="load_more" type="button">@Messages.LoadMore</button>
        }
        @{ Html.RenderPartial("_bottomLoadingMessage"); }
    
    
    </div>

</div>