@using BootBaronLib.Resources;
@using BootBaronLib.Values
<a href="http://youtube.com" target="_blank">
 <img src="@Url.Content("~/content/images/social/you_tube.png")" /></a>
<a name="submit"></a>
<b>@Messages.SubmitYourYouTubeVideoLinkHere</b>
@using (Html.BeginForm("videosubmit", "Home", FormMethod.Post))
{
    <div class="span3">


        <fieldset>

                   
           @{if (ViewBag.CurrentContest != null)
            {
                 <br />
                
               
<script>
    TargetDate = "@String.Format(new System.Globalization.CultureInfo("en-US"), "{0:MM/dd/yyyy} 12:00 AM", ViewBag.CurrentContest.DeadLine)"; 
    BackColor = "YELLOW";
    ForeColor = "#000000";
    CountActive = true;
    CountStepper = -1;
    LeadingZero = true;
    DisplayFormat = "%%D%% @Messages.Days, %%H%% @Messages.Hours,<br /> %%M%% @Messages.Minutes, %%S%% @Messages.Seconds", FinishMessage = "@Messages.End";

</script>
<script type="text/javascript">


    function calcage(secs, num1, num2) {
        s = ((Math.floor(secs / num1)) % num2).toString();
        if (LeadingZero && s.length < 2)
            s = "0" + s;
        return "<b>" + s + "</b>";
    }

    function CountBack(secs) {
        if (secs < 0) {
            document.getElementById("cntdwn").innerHTML = FinishMessage;
            return;
        }
        DisplayStr = DisplayFormat.replace(/%%D%%/g, calcage(secs, 86400, 100000));
        DisplayStr = DisplayStr.replace(/%%H%%/g, calcage(secs, 3600, 24));
        DisplayStr = DisplayStr.replace(/%%M%%/g, calcage(secs, 60, 60));
        DisplayStr = DisplayStr.replace(/%%S%%/g, calcage(secs, 1, 60));

        document.getElementById("cntdwn").innerHTML = DisplayStr;
        if (CountActive)
            setTimeout("CountBack(" + (secs + CountStepper) + ")", SetTimeOutPeriod);
    }

    function putspan(backcolor, forecolor) {
        document.write("<span id='cntdwn' style='font-size:16px; background-color:" + backcolor +
                "; color:" + forecolor + "'></span>");
    }

    if (typeof (BackColor) == "undefined")
        BackColor = "white";
    if (typeof (ForeColor) == "undefined")
        ForeColor = "black";
    if (typeof (TargetDate) == "undefined")
        TargetDate = "12/31/2020 12:00 AM";
    if (typeof (DisplayFormat) == "undefined")
        DisplayFormat = " %%D%% @Messages.Days, %%H%% @Messages.Hours, %%M%% @Messages.Minutes, %%S%% @Messages.Seconds";
if (typeof (CountActive) == "undefined")
    CountActive = true;
if (typeof (FinishMessage) == "undefined")
    FinishMessage = "@Messages.End";
if (typeof (CountStepper) != "number")
    CountStepper = -1;
if (typeof (LeadingZero) == "undefined")
    LeadingZero = true;


CountStepper = Math.ceil(CountStepper);
if (CountStepper == 0)
    CountActive = false;
var SetTimeOutPeriod = (Math.abs(CountStepper) - 1) * 1000 + 990;
putspan(BackColor, ForeColor);
var dthen = new Date(TargetDate);


var dnow = new Date();

var now_utc = new Date(dnow.getUTCFullYear(), dnow.getUTCMonth(), dnow.getUTCDate(), dnow.getUTCHours(), dnow.getUTCMinutes(), dnow.getUTCSeconds());

dnow = now_utc;

if (CountStepper > 0)
    ddiff = new Date(dnow - dthen);
else
    ddiff = new Date(dthen - dnow);
gsecs = Math.floor(ddiff.valueOf() / 1000);
CountBack(gsecs);







</script>  

                
                
                <label>@Messages.Contest <i>(@Messages.Optional)</i></label>
                <select name="contestID">
                             <option selected="selected" value="">@Messages.DashSelect</option>
                    <option value="@ViewBag.CurrentContest.ContestID">@ViewBag.CurrentContest.Name</option>
                </select>
            }
            }


            <label>
                @Messages.Link
            </label>
            <input class="input-medium " placeholder="http://www.youtube.com/watch?v=530x1vuuuQw"
                type="url" name="video" />

            <label>@Messages.VideoType</label>




            <select name="videoType" 
    class="span2"
                 
                  @if (ViewBag.PersonTypes.Count == 0)
                  { <text> disabled="disabled" </text>}>
                <option value="">@Messages.DashSelect</option>
                @foreach (BootBaronLib.AppSpec.DasKlub.BOL.MultiProperty mp1 in ViewBag.VideoTypes)
                {

                    if (!string.IsNullOrWhiteSpace(Request.QueryString[SiteEnums.QueryStringNames.videoType.ToString()]) &&
                     Convert.ToInt32(Request.QueryString[SiteEnums.QueryStringNames.videoType.ToString()]) == mp1.MultiPropertyID)
                    {
                    <option selected="selected" value="@mp1.MultiPropertyID">@mp1.DisplayName</option>
                    }
                    else
                    {
                    <option value="@mp1.MultiPropertyID">@mp1.DisplayName</option>
                    }
                }
            </select>



            <label>@Messages.Featuring</label>


            <select name="personType" 
                class="span2"
 
                 
                  @if (ViewBag.PersonTypes.Count == 0)
                  { <text> disabled="disabled" </text>}>
                <option value="">@Messages.DashSelect</option>
                @foreach (BootBaronLib.AppSpec.DasKlub.BOL.MultiProperty mp1 in ViewBag.PersonTypes)
                {

                    if (!string.IsNullOrWhiteSpace(Request.QueryString[SiteEnums.QueryStringNames.personType.ToString()]) &&
                     Convert.ToInt32(Request.QueryString[SiteEnums.QueryStringNames.personType.ToString()]) == mp1.MultiPropertyID)
                    {
                    <option selected="selected" value="@mp1.MultiPropertyID">@mp1.DisplayName</option>
                    }
                    else
                    {
                    <option value="@mp1.MultiPropertyID">@mp1.DisplayName</option>
                    }
                }
            </select>



            <label>@Messages.FootageType</label>


            <select name="footageType" 
                
      class="span2"
                 
                  @if (ViewBag.FootageTypes.Count == 0)
                  { <text> disabled="disabled" </text>}>
                <option value="">@Messages.DashSelect</option>
                @foreach (BootBaronLib.AppSpec.DasKlub.BOL.MultiProperty mp1 in ViewBag.FootageTypes)
                {

                    if (!string.IsNullOrWhiteSpace(Request.QueryString[SiteEnums.QueryStringNames.footageType.ToString()]) &&
                     Convert.ToInt32(Request.QueryString[SiteEnums.QueryStringNames.footageType.ToString()]) == mp1.MultiPropertyID)
                    {
                    <option selected="selected" value="@mp1.MultiPropertyID">@mp1.DisplayName</option>
                    }
                    else
                    {
                    <option value="@mp1.MultiPropertyID">@mp1.DisplayName</option>
                    }
                }
            </select>
            <label>@Messages.Band</label>
            <input class="input-medium " type="text" name="band" />
            <label>@Messages.Song</label>
            <input class="input-medium " type="text" name="song" />



     

            <br />

            <button class="btn btn-success">@Messages.Submit</button>
            
        </fieldset>
           

    </div>   
           
           <div class="clear"></div>
}