@using BootBaronLib.AppSpec.DasKlub.BOL.DomainConnection
@using BootBaronLib.Operational
@using BootBaronLib.Resources
@using BootBaronLib.Values


@{
    ViewBag.Title = SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.TAGLN,
        Utilities.GetCurrentLanguageCode());

    ViewBag.MetaDescription = "Das Klub is an international industrial dance community which connects artists, dancers and creative people.";
}
<div class="row">
    <div class="span4">

        @Html.Raw(SiteDomain.GetSiteDomainValue(
                        SiteEnums.SiteBrandType.HOMEC,
                        Utilities.GetCurrentLanguageCode()))


        <div class="clear">
        </div>
        <br />
        <hr />
        @if (ViewBag.RecentArticles != null)
        {
            <h5>@Messages.News</h5>
            <dl>
                @foreach (BootBaronLib.AppSpec.DasKlub.BOL.UserContent.Content newsItem in ViewBag.RecentArticles)
                {
                    <dt>
                        @newsItem.Reply
                        <a href="@newsItem.UrlTo.ToString()">
                            @newsItem.Title</a>
                    </dt>
                    <dd title="@newsItem.CreateDate.ToString("u")">@Utilities.TimeElapsedMessage(newsItem.CreateDate) <i>@Messages.Comments : @newsItem.Comments.Count</i></dd>
  
                }
            </dl>
        }

    </div>
    <div class="span8">
        <div class="row">

            <div class="span8">

                <div class="span8">

                    @Html.Raw(SiteDomain.GetSiteDomainValue(
                        SiteEnums.SiteBrandType.HOMET,
                        Utilities.GetCurrentLanguageCode()))
                    <hr />







                    @if (ViewBag.MostRecentThreads != null)
                    {
                        <div class="clear">
                        </div>
         

                        <h5>Newest Forum Posts</h5>
                        <table class="table table-condensed table-striped">

                            @if (ViewBag.TopThreadOfTheWeek != null)
                            {
                                <tr>
                                    <td>

                                        <b>
                                            <span class="bright_green">Popular: </span>
                                            @if (ViewBag.TopThreadOfTheWeek.IsNewPost)
                                            {
                                                <a  class="notification_color" href="@ViewBag.TopThreadOfTheWeek.URLTo.ToString()">@Html.Raw(ViewBag.TopThreadOfTheWeek.ForumSubCategory.Title)</a>
                                            }
                                            else
                                            {
                                                <a href="@ViewBag.TopThreadOfTheWeek.ForumSubCategory.SubForumURL.ToString()">@Html.Raw(ViewBag.TopThreadOfTheWeek.ForumSubCategory.Title)</a>
                                            }
                                        </b>
                                        <br />
                                        <i style="font-size: 10px">@Html.Raw(ViewBag.TopThreadOfTheWeek.ForumCategory.Title)</i>
                                        <br />

                                    </td>

                                    @if (ViewBag.TopThreadOfTheWeek.LastPosted != null)
                                    {
                                        <td>
                                            <span title="@ViewBag.TopThreadOfTheWeek.LastPosted.ToString("u")">
                                                @Html.Raw(Utilities.TimeElapsedMessage(ViewBag.TopThreadOfTheWeek.LastPosted))
                                            </span>
                                        </td>
                                    }

                                </tr> 
                     
                  
                            }



                            @foreach (DasKlub.Web.Models.ForumFeedModel forumFeedModel in ViewBag.ForumFeed)
                            {
                                <tr>
                                    <td>
                                        <b>

                                            @if (forumFeedModel.IsNewPost)
                                            {
                                                <a   class="notification_color" href="@forumFeedModel.URLTo.ToString()">@Html.Raw(forumFeedModel.ForumSubCategory.Title)</a>
                                            }
                                            else
                                            {
                                                <a href="@forumFeedModel.ForumSubCategory.SubForumURL.ToString()">@Html.Raw(forumFeedModel.ForumSubCategory.Title)</a>
                                            }
                                        </b>

                                        <br />
                                        <i style="font-size: 10px">@Html.Raw(forumFeedModel.ForumCategory.Title)</i>
                                        <br />

                                    </td>

                                    <td>
                                        <span title="@forumFeedModel.LastPosted.ToString("u")">
                                            @Html.Raw(Utilities.TimeElapsedMessage(forumFeedModel.LastPosted))
                                        </span>
                                    </td>

                                </tr>
                            }
                        </table>
          
          
 
                    }
                </div>

            </div>
            <div class="clear">
            </div>
            
           
            @if (ViewBag.TopUsersOfTheMonth != null)
            {
                 
                <div class="span8">
                    <div class="span8">
                        <div class="well">
                            <h5>Top 7 Most Applauded Users In The Last 30 Days</h5>
                            @Html.Raw(ViewBag.TopUsersOfTheMonth.ToUnorderdList)
                            <div class="clear">
                            </div>
                        </div>
                        </div>
                </div>
                   
            }
            
            @if (ViewBag.TopForumUsersOfTheMonth != null)
            {
                <div class="span8">
                    <div class="span8">
                        <div class="well">
                            <h5>Top 7 Most Active Forum Users In The Last 30 Days</h5>
                            @Html.Raw(ViewBag.TopForumUsersOfTheMonth.ToUnorderdList)
                            <div class="clear">
                            </div>
                        </div>
                        </div>
                </div>
                   
            }
        </div>

        @section _css {
            @if (Request.Browser.IsMobileDevice)
            {
<style type="text/css">
    .photo_item_list li img {
        height: 55px;
        width: 55px;
    }

    .photo_item_list img {
        margin: 0;
        padding: 0;
    }
</style>
            }
            <style type="text/css">
                ul.photo_item_list {
                    margin: 0;
                    padding: 0;
                }
            </style>
        }
    </div>
</div>
<div class="clear">
</div>
@section _javascriptHead {


    @Html.Raw(SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.HOMES,
        Utilities.GetCurrentLanguageCode()))


}




@section _javascript  {


    @Html.Raw(SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.HOMEB,
        Utilities.GetCurrentLanguageCode()))


}