@using BootBaronLib.AppSpec.DasKlub.BOL.DomainConnection
@using BootBaronLib.Configs
@using BootBaronLib.Operational
@using BootBaronLib.Resources
@using BootBaronLib.Values
@using DasKlub.Models.Forum
@{
    ViewBag.Title = SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.TAGLN,
        Utilities.GetCurrentLanguageCode());

    ViewBag.MetaDescription = "Das Klub is an international industrial dance community which connects artists, dancers and creative people.";
}
<div class="row">
    <div class="span4">
        
        @{ Html.RenderPartial("_registerControls"); }
       
        <div class="clear"></div>
        <hr />
          
        @{ Html.RenderPartial("_AdBanner"); }
        
        
        @if (HttpContext.Current.Request.IsAuthenticated)
        {
            Html.RenderPartial("_videoSubmit");
        }       

  
       
        <div class="clear">
        </div>
        <br />
         
        <br />
        @if (GeneralConfigs.IsGiveAway)
        {
            <a class="m_over" href="@Url.Content("~/account/useraddress")">
                <img  src="@Url.Content("~/Content/images/stills/giveaway.jpg")" /></a>
        }
    </div>
    <div class="span8">
        <div class="row">
      
            <div class="span9">
             
                <div class="span8" >
               

                    @Html.Raw(SiteDomain.GetSiteDomainValue(
                        SiteEnums.SiteBrandType.HOMEC,
                        Utilities.GetCurrentLanguageCode())) 
                    <hr />
                </div>
                
                
           
 

  
         
      @if (ViewBag.MostRecentThreads != null)
      {
    <div class="clear">
            </div>
                  <h4>Newest Threads</h4>
          foreach (ForumSubCategory post in ViewBag.MostRecentThreads)
          {
              <div class="row">
        
                  <div class="span2 user_icons">
                    
                      
                          <ul>
                          @Html.Raw(post.UserAccount.ToUnorderdListItem)
                              </ul>
                      
                 
                   
                  </div>
                  
                  
                    <div class="span4">
 <b>
 <a href="@post.SubForumURL.ToString()">@post.Title</a></b>                    
                        <br />
                        <span title="@FromDate.DateToYYYY_MM_DD(post.CreateDate)"><i>@Messages.LastReply: @Utilities.TimeElapsedMessage(post.CreateDate)</i>&nbsp; - Replies: @post.TotalPosts</span>
                          <br /><br />
                        <p>
                            
                                        @Html.Raw(Utilities.MakeLink(FromString.ReplaceNewLineWithHTML(post.Description)))
                        </p>
                    </div>
               
  
              </div>
              <hr />
          }
      }
   </div>
            <div class="clear">
            </div>

        </div>
  
        @section _css {
            @if (Request.Browser.IsMobileDevice)
            {
                <style type="text/css">
                    .photo_item_list li img {
                        height: 55px;
                        width: 55px;
                    }

                    .photo_item_list img {
                        margin: 0;
                        padding: 0;
                    }
                </style>
            }
            <style type="text/css">
                ul.photo_item_list {
                    margin: 0;
                    padding: 0;
                }
            </style>
        }
    </div>
</div>
<div class="clear">
</div>
@section _javascriptHead {

  
    @Html.Raw(SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.HOMES,
        Utilities.GetCurrentLanguageCode()))


}




@section _javascript  {


    @Html.Raw(SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.HOMEB,
        Utilities.GetCurrentLanguageCode()))

    <script type="text/javascript">
        $("#download1").click(function() {


            $.post($rootUrl + 'home/download', { link: 'z' },
                function(data) {


                });


        });

        $("#download2").click(function() {


            $.post($rootUrl + 'home/download', { link: 'f' },
                function(data) {


                });


        });


        $(document).ready(function() {
            $("#UserName").focus();
        });

    </script>

}