@using DasKlub.Lib.Resources

<div class="row">
    <div class="span2">
        <ul class="nav nav-pills nav-stacked">
            <li
              
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "editprofile")
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content("~/account/editprofile")">@Messages.Details</a>
            </li>
            <li
                  
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "editphoto")
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content("~/account/editphoto")">@Messages.ProfilePhotos</a> </li>
            
             
            <li
              
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "managevideos")
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content("~/account/managevideos")">@Messages.Videos</a>
            </li>
          
            
            

            <li
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "settings")
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content("~/account/settings")">@Messages.Settings</a> </li>
            

        </ul>
    </div></div>