@using BootBaronLib.Resources

<div class="row">
    <div class="span2">
        <ul class="nav nav-pills nav-stacked">
            <li
              
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "visitors")
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content("~/account/visitors")">@Messages.Visitors</a>
            </li>
          

          
            <li
              
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "cyberassociates")
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content("~/account/CyberAssociates")">@Messages.CyberAssociates</a>
            </li>
          



            <li
              
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "irlcontacts")
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content("~/account/irlcontacts")">@Messages.RealLifeContacts</a>
            </li>
          

         
       
        </ul>
    </div>
</div>