@using DasKlub.Lib.Resources
@{
    ViewBag.Title = Messages.BlockedUsers;
}

<div class="vid_filter_block" >
 
    <h2> @Messages.BlockedUsers</h2>
    @*<i>These are users you have blocked from seeing your profile or sending you messages</i>
<br />*@
    <hr />
    <br />

    <a href="@Url.Content("~/account/myusers")">@Messages.MyZone</a> &gt; @Messages.BlockedUsers
    <br />
    <img src="~/Content/images/userstatus/block_user.png" />
    <br />
  
    @if (ViewBag.BlockedUsers != null)
    {
        @Html.Raw(ViewBag.BlockedUsers)
    }


    <div class="clear"></div>
        
</div>