@using BootBaronLib.Resources
@model DasKlub.Models.ChangePasswordModel
@{
    ViewBag.Title = Messages.ChangePassword;
}
          
<div class="row">
 
    <div class="span8">

 
        @{ Html.RenderPartial("_AdBanner"); }

        <h2>@Messages.ChangePassword</h2>
        <hr />
 


        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, Messages.PleaseCorrectTheErrors)
            <div>
                <fieldset>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.OldPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                    <p>
                        <input type="submit" value="@Messages.Submit" class="btn btn-success" />
                    </p>
                </fieldset>
            </div>
        }


    </div>
    <div class="span4">

        @{ Html.RenderPartial("_AdBanner2"); }
    </div>
</div>