@model BootBaronLib.AppSpec.DasKlub.BOL.UserContent.Content
@using  BootBaronLib.Resources
@using Web.Helpers
@{
    ViewBag.Title = Messages.EditArticle;
}
 
<h2>@Messages.EditArticle</h2>
<hr />
    <br />
    @Html.Label(BootBaronLib.Resources.Messages.Link)
    <a target="_blank" href="@Model.UrlTo" rel="#">@Model.UrlTo</a>
        <br /><br />
@using (Html.BeginForm("EditArticle", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

            
    @Html.ValidationSummary(false)

    @Html.Partial("_contentForm");

                                 <br />

    <button style="margin-right:100px;" type="submit" value="save" class="btn btn-success">@BootBaronLib.Resources.Messages.Submit</button>
            


    @Html.ActionLink(@BootBaronLib.Resources.Messages.Delete,
                   "DeleteArticle", new { id = Model.ContentID },
                  new
                  {
                      @class = "btn btn-danger",
                      onclick = "return confirm('" +
                      BootBaronLib.Resources.Messages.Delete + "?')"
                  })

}

