@using DasKlub.Lib.Resources
@{
    ViewBag.Title = Messages.Visitors;
}
<div class="row">
    <div class="span8">
        @{ Html.RenderPartial("_AdBanner"); }
        <h2>@Messages.MyZone</h2>
        <hr />
       
        @{ Html.RenderPartial("_myZoneMenu"); }
        @if (ViewBag.ApprovalList != null)
        {
            @Html.Raw(ViewBag.ApprovalList)
            <div class="clear">
            </div>
        }
        @if (ViewBag.EnableProfileLogging != null && !ViewBag.EnableProfileLogging)
        {
            <i>
                @Messages.Disabled</i>
        }
        else
        {
            <img alt="@Messages.Visitors" title="@Messages.Visitors" src="@Url.Content("~/content/images/userstatus/eye_spy.png")" />
            <br />
            if (ViewBag.TheViewers != null)
            {
                @Html.Raw(ViewBag.TheViewers)
            }
            else
            {
                <span>You must be a supporter to see your viewers! <a href="~/store">Donate $10 or more with your account email</a></span>
            }
        }
    </div>
    <div class="span4">
   
     
        @if (ViewBag.AdminLink != null)
        {
            <div class="clear">
            </div>
            <hr />
            <b>@Messages.Administrator</b>
            <br />

            <ul>
                <li>
                
                @Html.ActionLink(Messages.ManageNews, "Articles", "Account")
                    </li>
                <li><a href="@Url.Content("~/siteadmin/sitebranding")">@Messages.Website: @Messages.Settings</a></li>
              
                <li><a href="@Url.Content("~/siteadmin/articles")">@Messages.Settings</a></li>
              
                <li>    <a href="@Html.Raw(ViewBag.AdminLink)">@Messages.Settings (@Messages.LoadMore)</a></li>
                    
                <li>
                    <a href="@Url.Content("~/siteadmin/usermanagement")">@Messages.UserManagement </a></li>
            </ul>
        }
        <div class="clear">
            
        </div>
        <hr />
        @{ Html.RenderPartial("_AdBanner2"); }
    </div>
</div>