@using DasKlub.Lib.AppSpec.DasKlub.BOL
@using DasKlub.Lib.Resources
@if (Membership.GetUser() != null)
{
    <div id="menu_wrapper">

        
        <ul id="logged_in_menu" class="nav  the-icons" >
            <li
                  
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "profiledetail" &&
                     ViewBag.DisplayName != null && Membership.GetUser() != null &&
                     Membership.GetUser().UserName == ViewBag.DisplayName)
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content(string.Format("~/{0}", HttpContext.Current.User.Identity.Name))"> 
                     @{
                         var ua = new UserAccount(HttpContext.Current.User.Identity.Name);

                         @Html.Raw(ua.TinyUserIcon)
                     }
             
                 </a>
            </li>
            <li
                  
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "room")
                {
                    <text>class="active" </text>
                }
                ><a id="video_room" href="@Url.Content("~/account/room")">
                     <i class="icon-user"></i>
                     @Html.Raw(Messages.ChatRoom)</a>
            </li> 
    
            <li
                  
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "inbox" ||
                     ViewContext.RouteData.Values["action"].ToString().ToLower() == "outbox")
                {
                    <text>class="active" </text>
                }
                ><a id="mail_inbox" href="@Url.Content("~/account/inbox")"><i class="icon-inbox"></i> @Html.Raw(Messages.Mail)</a> </li>
            <li
              
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "editprofile" ||
                     ViewContext.RouteData.Values["action"].ToString().ToLower() == "editphoto" ||
                     ViewContext.RouteData.Values["action"].ToString().ToLower() == "settings")
                {
                    <text>class="active" </text>
                }
                ><a href="@Url.Content("~/account/editprofile")">
                     <i class="icon-list-alt"></i>
                     @Html.Raw(Messages.EditProfile)</a>
            </li>
          
            <li
                  
                @if (ViewContext.RouteData.Values["action"].ToString().ToLower() == "visitors" ||
                     ViewContext.RouteData.Values["action"].ToString().ToLower() == "cyberassociates" ||
                     ViewContext.RouteData.Values["action"].ToString().ToLower() == "irlcontacts"
                    )
                {
                    <text>class="active" </text>
                }
                ><a id="my_users" href="@Url.Content("~/account/visitors")"> <i class="icon-ok-sign"></i> @Html.Raw(Messages.MyZone)</a>
            </li>



            <li>
                    
                <a   href="@Url.Content("~/account/LogOff")"> <i class="icon-off"></i> @Html.Raw(Messages.SignOff)</a>

              
 
  
            </li>


        </ul>
    </div>
}