@using DasKlub.Lib.Resources
@model DasKlub.Models.Forum.ForumPost

@{
    ViewBag.Title = "Create Post In Forum: " + ViewBag.Forum.Title;
}
 

 
 
<div class="row">
    <div class="span8" >
      
        <div class="row">
            <div class="span3">
                <h2>Reply To</h2>
                 
            </div>
            <div class="span4">
                @{ Html.RenderPartial("_AdBanner468x60"); }
            </div>
        </div>

        <hr />
        
        
           <div class="row">
          <div class="span5">
                    @using (Html.BeginForm("CreateForumPost", "Forum"))
        {
            <fieldset>
                <legend>
             Reply To: @ViewBag.Forum.Title &gt;
                    @ViewBag.SubForum.Title
                </legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Detail)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Detail, new {@class = "whatever-class", @cols = 80, @rows = 10})
                    @Html.ValidationMessageFor(model => model.Detail)
                    <input type="hidden" name="forumSubCategoryID" value="@ViewBag.SubForum.ForumSubCategoryID" />
                </div>
                        
                <p><button class="btn btn-success" id="submit_post" type="submit">@Messages.Submit</button></p>
            </fieldset>
        }
 
            </div>
        <div class="span4">
                
            @{ Html.RenderPartial("_AdBanner250x250"); }
     

        </div>
        

   </div>
        
    </div>

    <div class="span4"  >
        @{ Html.RenderPartial("_AdBanner160x600"); }
    </div>
</div>
 

@section _javascript {


    <script type="text/javascript">
        $(document).ready(function() {

            $("#Detail").focus();

        });
        

        $('#submit_post').click(function (event) {

            $(this).attr("disabled", true);
            $(this).parents('form').submit();
        });

    </script>
}