@using System.Globalization

@using DasKlub.Lib.BOL
@using DasKlub.Lib.Operational
@using DasKlub.Lib.Resources
@using DasKlub.Models.Forum

@model ICollection<ForumPost>
 
          @{
              int pageSize = Convert.ToInt32(ViewBag.PageCount);
          }
<div class="row">
    <div class="span8" >
      
        <div class="row">
            <div class="span8">
          
                <hr />
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="~/forum" itemprop="url"><span itemprop="title">Forum</span></a></span> &gt; 
                        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="@ViewBag.Forum.ForumURL"  itemprop="url"><span itemprop="title">@ViewBag.Forum.Title</span></a>
                        </span> &gt;     
             
                
                @{
                                              if (ViewBag.PageNumber == 1)
                                              {
                                                  <span>
                                                  @ViewBag.PageTitle
                                                  </span>
                                              }
                                              else
                                              {
                                                  <a href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/" + ViewBag.SubForum.Key)">@ViewBag.PageTitle</a>
                                              }

                }   
                

                <hr />

                               <!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>  
                  
                 
                  @{
                              if (ViewBag.PageNumber == 1)
                              {

                                  <h3>@ViewBag.PageTitle</h3>
                                  <p>
                                      @Html.Raw(Video.IFrameVideo(FromString.ReplaceNewLineWithHTML(ViewBag.SubForum.Description), 200, 300))
                                  </p>
                              <span>Posted By: </span> <a href = "@ViewBag.SubForum.UserAccount.UrlTo.ToString()">@ViewBag.SubForum.UserAccount.UserName</a>
                                   <span>@Utilities.TimeElapsedMessage(ViewBag.SubForum.CreateDate)</span> <i>@ViewBag.SubForum.CreateDate.ToString("yyyy-MM-dd")</i> 
                      
                                  
                      @Html.Raw("&nbsp;")
                             
                                  if (ViewBag.UserID == ViewBag.SubForum.UserAccount.UserAccountID || ViewBag.IsAdmin)
                                   {
                                     
                                
                                       @Html.ActionLink(Messages.Edit, "EditSubCategory", 
                                       new {@key = ViewBag.Forum.Key, @subKey = ViewBag.SubForum.Key} )

                      
                             @Html.Raw(" | ")

                                       @Html.ActionLink(Messages.Delete, "DeleteSubForum", new { @forumSubCategoryID = ViewBag.SubForum.ForumSubCategoryID },
                                                                       new { onclick = "return confirm('" + Messages.Delete + "');" })
                                       
                                       
                                       
                                   }
                                   
                                
                              }
                                  
                  }
              
 
                 <hr />
            </div>

        </div>
            
      
        @if (Model != null && Model.Count > 0)
        {
        
            <br />
            foreach (var forumCat in Model)
            {
                <div class="row">
                    <a name="@forumCat.ForumPostID"></a>
                          
                    <div class="span2 user_icons" style="width:120px">
                        <ul>
                            @Html.Raw(forumCat.UserAccount.ToUnorderdListItem) 
                        </ul>
                    </div>
                    <div class="span6">
                        @if (forumCat.UpdateDate != null)
                        {
                            <i>@Messages.Edited</i>      @Html.Raw("&nbsp;")
                            <span title="@FromDate.DateToYYYY_MM_DD(Convert.ToDateTime(forumCat.UpdateDate))">
                                @Utilities.TimeElapsedMessage(Convert.ToDateTime(forumCat.UpdateDate))</span> 
                        }
                        else
                        {
                        <span title="@FromDate.DateToYYYY_MM_DD(forumCat.CreateDate)">@Utilities.TimeElapsedMessage(forumCat.CreateDate)</span>    
                        }
                        
                        
                        @if (ViewBag.UserID == forumCat.CreatedByUserID || ViewBag.IsAdmin)
                        {
                            @Html.Raw("&nbsp;") 
                            
                             
                            @Html.ActionLink(Messages.Edit, "EditForumPost", new {@forumPostID = forumCat.ForumPostID})
                            @Html.Raw(" | ") 
                            @Html.ActionLink(Messages.Delete, "DeleteForumPost", new {@forumPostID = forumCat.ForumPostID},
                                new {onclick = "return confirm('" + Messages.Delete + "');"})
                        }

                        <br />
                        <br />
                        <p>
                            @Html.Raw( Video.IFrameVideo(FromString.ReplaceNewLineWithHTML(forumCat.Detail), 200, 300))
                        </p>
                       
                    </div>
                           
                  
                </div>
                <hr />
            }
        }
        <br />
        <a  class="btn btn-success" href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/" + ViewBag.SubForum.Key + "/create")">@Messages.Reply : @ViewBag.PageTitle</a>
         
           <hr />
            
          @{
        
            if (pageSize > 1)
            {
             
                <ul class="pager" style="float: left">

                    @for (int pageNumber = 1; pageNumber <= pageSize; pageNumber++)
                    {
                        
                         if (ViewBag.PageNumber == pageNumber)
                         {
                             <li>
                                 <a href="#" style="color: #000; background-color: #696969">@pageNumber</a>
                             </li>
                         }
                         else if (pageNumber == 1)
                         {
                             <li> 

                                  <a href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/" + ViewBag.SubForum.Key)">@pageNumber.ToString(CultureInfo.InvariantCulture)</a>
                             </li>
                         }
                         else
                         {
                             <li> 

                                  <a href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/" + ViewBag.SubForum.Key + "/" + pageNumber.ToString())">@pageNumber.ToString(CultureInfo.InvariantCulture)</a>
                             </li>
                         }

                    }
                </ul>
                <div class="clear"></div>
            }
        }


        
        @{ Html.RenderPartial("_AdBanner728x90"); }
        <hr />

        
        <a href="~/forum">Forum</a> &gt; <a href="@ViewBag.Forum.ForumURL">@ViewBag.Forum.Title</a> &gt;   @{
                                              if (ViewBag.PageNumber == 1)
                                              {
                                                  <span>
                                                  @ViewBag.PageTitle
                                                  </span>
                                              }
                                              else
                                              {
                                                  <a href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/" + ViewBag.SubForum.Key)">@ViewBag.PageTitle</a>
                                              }

                                          }
    </div>

    <div class="span4"  >
        
          <h5>Advertisement</h5>
        @{ Html.RenderPartial("_AdBanner300x250"); }
        <hr />
        @{ Html.RenderPartial("_AdBanner160x600"); }
    </div>
</div>