@using System.Globalization
@using DasKlub.Lib.Operational
@using DasKlub.Lib.Resources
@using DasKlub.Models.Forum

@model ICollection<ForumSubCategory>


<div class="row">
    <div class="span12">

        <div class="row">
            <div class="span6">
                <h5>&lt; <a href="~/forum">Forum</a></h5>
                <h3>@ViewBag.Title</h3>
                <p>

                    @Html.Raw(Utilities.MakeLink(FromString.ReplaceNewLineWithHTML(ViewBag.Forum.Description)))  
                    
                </p>

<a  class="btn  btn-success" href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/create")">@Messages.CreateNew : Thread</a>
                  
                  
             
                  
            </div>
            <div class="span6">
                @{ Html.RenderPartial("_AdBanner468x60"); }
            </div>
        </div>

        <hr />

        @if (Model != null)
        {
            <div class="row">



                <div class="span3">
                    <b>Thread</b>

                </div>
                <div class="span1">
                    <b>Posts</b>
                </div>
                <div class="span2">
                    <b>Last Member</b>
                </div>

                <div class="span2">
                    <b>Last Replied</b>
                </div>

                <div class="span2">
                                  <b>@Messages.LastReply</b>
                </div>

            </div>
            <hr />

            foreach (ForumSubCategory post in Model.Where(post => post != null && post.ForumCategory != null))
            {
                <div class="row">
                    <div class="span3">
                        <a href="@post.SubForumURL.ToString()">@post.Title</a>

                    </div>
                    <div class="span1">
                        @post.TotalPosts
                    </div>

                    <div class="span2">
                        @if (post.LatestForumPost != null && post.LatestForumPost.UserAccount != null && post.TotalPosts > 0)
                        {
                            <a href="@post.LatestForumPost.UserAccount.UrlTo.ToString()">@post.LatestForumPost.UserAccount.UserName</a>
                        }
                        else
                        {
                            <i>
                                @Messages.New
                            </i>
                        }
                    </div>


                    <div class="span2">
                        @if (post.LatestForumPost != null && post.TotalPosts > 0)
                        {
                            <span title="@FromDate.DateToYYYY_MM_DD(post.LatestForumPost.CreateDate)">@Utilities.TimeElapsedMessage(post.LatestForumPost.CreateDate)</span>
                        }
                        else
                        {
                            <i>
                                @Messages.New
                            </i>
                        }
                    </div>



                    <div class="span2">
                        @if (post.LatestForumPost != null && post.LatestForumPost.ForumPostURL != null)
                        {
                            if (post.LatestForumPost.IsNewPost)
                            {
                                <a class="btn btn-mini btn-warning" href="@post.LatestForumPost.ForumPostURL.ToString()">Read Post</a>
                            }
                            else
                            {
                                <a class="btn btn-mini" href="@post.LatestForumPost.ForumPostURL.ToString()">Read Post</a>
                            }
                        }
                    </div>

                </div>
                <br />
            }
        }       
         

      
        @{
            int pageSize = Convert.ToInt32(ViewBag.PageCount);

            if (pageSize > 1)
            {
                <hr />
            
                <ul class="pager" style="float: left">

                    @for (int pageNumber = 1; pageNumber <= pageSize; pageNumber++)
                    {
                        
                         if (ViewBag.PageNumber == pageNumber)
                         {
                             <li>
                                 <a href="#" style="color: #000; background-color: #696969">@pageNumber</a>
                             </li>
                         }
                         else if (pageNumber == 1)
                         {
                             <li> 

                                 <a href="@Url.Content("~/forum/" + ViewBag.Forum.Key)">@pageNumber.ToString(CultureInfo.InvariantCulture)</a>
                             </li>
                         }
                         else
                         {
                             <li> 

                                 <a href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/page/" + pageNumber.ToString())">@pageNumber.ToString(CultureInfo.InvariantCulture)</a>
                             </li>
                         }

                    }
                </ul>
                <div class="clear"></div>
            }
        }
        
        
        <hr />
        @{ Html.RenderPartial("_AdBanner728x90"); }

        <hr />
        
<a  class="btn  btn-success" href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/create")">@Messages.CreateNew : Thread</a>
                  
       

    </div>
 
</div>