
@using DasKlub.Lib.BOL.DomainConnection
@using DasKlub.Lib.Operational
@using DasKlub.Lib.Resources
@using DasKlub.Lib.Values


@{
    ViewBag.Title = SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.TAGLN,
        Utilities.GetCurrentLanguageCode());

    ViewBag.MetaDescription = "Das Klub is an international kommunmity for industrial dance music, news, reviews, radio, video and more. Meet people from all over the world that enjoy industrial dance music and culture.";
}

 
@section _javascriptHead {


    @Html.Raw(SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.HOMES,
        Utilities.GetCurrentLanguageCode()))


}


<div class="row">
    <div class="span4">
      
     
        @if (ViewBag.RecentArticles != null)
        {
            <h5>@Messages.News</h5>
            
            <ul class="photo_navs">
                @foreach (DasKlub.Lib.BOL.UserContent.Content newsItem in ViewBag.RecentArticles)
                {
                    @Html.Raw(newsItem.ToUnorderdListItem)
                }

            </ul>
            <a class="btn btn-primary" href="~/news">@Messages.News : @Messages.ReadMore »</a>
            
        
        }
        <hr />
        <h5>Advertisement</h5>
        @{ Html.RenderPartial("_AdBanner300x250"); } 

    </div>
          
    <div class="span8">
      
        <div class="row">

            <div class="span8">

                <div class="span8">
                      
                    @Html.Raw(SiteDomain.GetSiteDomainValue(
                        SiteEnums.SiteBrandType.HOMET,
                        Utilities.GetCurrentLanguageCode()))
                 


                    @if (ViewBag.MostRecentThreads != null)
                    {
                        <div class="clear">
                        </div>
         

                     
                        <table class="table table-condensed table-striped">

                            @if (ViewBag.TopThreadOfTheWeek != null)
                            {
                                <tr >
                                    <td>

                                        <b>
                                            <span class="bright_green">Top This Week: </span>
                                            @if (ViewBag.TopThreadOfTheWeek.IsNewPost)
                                            {
                                                <a  class="notification_color" href="@ViewBag.TopThreadOfTheWeek.URLTo.ToString()">@Html.Raw(ViewBag.TopThreadOfTheWeek.ForumSubCategory.Title)</a>
                                            }
                                            else
                                            {
                                                <a href="@ViewBag.TopThreadOfTheWeek.ForumSubCategory.SubForumURL.ToString()">@Html.Raw(ViewBag.TopThreadOfTheWeek.ForumSubCategory.Title)</a>
                                            }
                                        </b>
                                        
                                          @if (ViewBag.TopThreadOfTheWeek.PostCount == 0)
                                        {
                                            <span class="badge badge-inverse">@Messages.New</span>
                                        }
                                          else if (ViewBag.TopThreadOfTheWeek.PostCount == 1)
                                        {
                                            <span class="badge badge-success">@ViewBag.TopThreadOfTheWeek.PostCount post</span>
                                        }
                                          else if (ViewBag.TopThreadOfTheWeek.PostCount > 9)
                                        {
                                            <span class="badge badge-important">@ViewBag.TopThreadOfTheWeek.PostCount posts</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-info" >@ViewBag.TopThreadOfTheWeek.PostCount posts</span>
                                        }
                                        <br />
                                        <i class="sub_forum_text"><a
                                                                      href="@ViewBag.TopThreadOfTheWeek.ForumCategory.ForumURL.ToString()">
                                                                      @Html.Raw(ViewBag.TopThreadOfTheWeek.ForumCategory.Title)
                                                                  </a></i>
                                        <br />

                                    </td>

                                    @if (ViewBag.TopThreadOfTheWeek.LastPosted != null)
                                    {
                                        <td class="align_right">
                                            <span title="@ViewBag.TopThreadOfTheWeek.LastPosted.ToString("u")">
                                                @Html.Raw(Utilities.TimeElapsedMessage(ViewBag.TopThreadOfTheWeek.LastPosted))
                                            </span>
                                        </td>
                                    }

                                </tr> 
                     
                  
                            }



                            @foreach (DasKlub.Web.Models.ForumFeedModel forumFeedModel in ViewBag.ForumFeed)
                            {
                                <tr>
                                    <td>
                                    
                                        <b>

                                            @if (forumFeedModel.IsNewPost)
                                            {
                                                <a   class="notification_color" href="@forumFeedModel.URLTo.ToString()">@Html.Raw(forumFeedModel.ForumSubCategory.Title)</a>
                                            }
                                            else
                                            {
                                                <a href="@forumFeedModel.ForumSubCategory.SubForumURL.ToString()">@Html.Raw(forumFeedModel.ForumSubCategory.Title)</a>
                                            }
                                        </b>
                                        @if (forumFeedModel.PostCount == 0)
                                        {
                                            <span class="badge badge-inverse">@Messages.New</span>
                                        }
                                        else if (forumFeedModel.PostCount == 1)
                                        {
                                            <span class="badge badge-success">@forumFeedModel.PostCount post</span>
                                        }
                                        else if (forumFeedModel.PostCount > 9)
                                        {
                                            <span class="badge badge-important">@forumFeedModel.PostCount posts</span>
                                        }
                                        else
                                        {
                                              <span class="badge badge-info" >@forumFeedModel.PostCount posts</span>
                                        }
                                        <br />
                                        <i class="sub_forum_text"><a
                                             href="@forumFeedModel.ForumCategory.ForumURL.ToString()">@Html.Raw(forumFeedModel.ForumCategory.Title)</a></i>
                                        <br />

                                    </td>

                                    <td  class="align_right">
                                        <span title="@forumFeedModel.LastPosted.ToString("u")">
                                            @Html.Raw(Utilities.TimeElapsedMessage(forumFeedModel.LastPosted))
                                        </span>
                                    </td>

                                </tr>
                            }
                        </table>
                      
                    }
                        
         
                    @{ Html.RenderPartial("_AdBanner728x90"); }
                    <hr />
                </div>

            </div>
            <div class="clear">
            </div>
            

            
            @if (ViewBag.TopForumUsersOfTheMonth != null)
            {
                <div class="span8">
                    <div class="span8">
                        <div class="well">
                            <h5>Top 7 Most Active Forum Users In The Last 7 Days</h5>
                            @Html.Raw(ViewBag.TopForumUsersOfTheMonth.ToUnorderdList)
                            <div class="clear">
                            </div>
                        </div>
                    </div>
                </div>
                   
            }
            
                       
            @if (ViewBag.TopUsersOfTheMonth != null)
            {
                 
                <div class="span8">
                    <div class="span8">
                        <div class="well">
                            <h5>Top 7 Most Applauded Users In The Last 7 Days</h5>
                            @Html.Raw(ViewBag.TopUsersOfTheMonth.ToUnorderdList)
                            <div class="clear">
                            </div>
                        </div>
                    </div>
                </div>
                   
            }
        </div>

        @section _css {
            @if (Request.Browser.IsMobileDevice)
            {
                <style type="text/css">
                    .photo_item_list li img {
                        height: 55px;
                        width: 55px;
                    }

                    .photo_item_list img {
                        margin: 0;
                        padding: 0;
                    }
                </style>
            }
            <style type="text/css">
                ul.photo_item_list {
                    margin: 0;
                    padding: 0;
                }

                       .align_right { text-align: right !important;}
       .sub_forum_text { font-size: 10px;}
            </style>
        }
    </div>
</div>
<div class="clear">
</div>


@section _javascript  {


    @Html.Raw(SiteDomain.GetSiteDomainValue(
        SiteEnums.SiteBrandType.HOMEB,
        Utilities.GetCurrentLanguageCode()))


}