
@using DasKlub.Lib.Operational
@using DasKlub.Lib.Resources

@using DasKlub.Web.Helpers
@model  DasKlub.Lib.BOL.PhotoItem
@{
    ViewBag.Title = Model.Title;
    ViewBag.ThumbIcon = FromString.GetFixedLengthString(Html.S3ContentPath(Model.FilePathThumb).ToString(), 50);
}
@{ Html.RenderPartial("_AdBanner468x60"); }
<div class="row">
    <div class="span8">
        @if (Model == null)
        {
            <b>@Messages.Deleted</b>
        }
        else
        {
            <div id="status_update_list">
                @Html.Raw(ViewBag.StatusUpdateList)
            </div>
            
        }
        @section _javascript {
            @{ Html.RenderPartial("_statusCommenting-js"); }
        }
        <i><a href="@Html.S3ContentPath(Model.FilePathRaw)" target="_blank">@Messages.Download: @Messages.Photo</a></i>
    </div>
    <div class="span4">
   

       
        @if (ViewBag.NextPhoto != null)
        {
            <i>@Messages.NextPhoto</i>
            <ul class="photo_navs">
                @Html.Raw(ViewBag.NextPhoto.ToUnorderdListItem)
            </ul>
        }


                
        <br />
       
              
        @if (ViewBag.PreviousPhoto != null)
        {
            <i>@Messages.PreviousPhoto</i>
            <ul class="photo_navs">
                @Html.Raw(ViewBag.PreviousPhoto.ToUnorderdListItem)
            </ul>
        }
        <hr />
        @{ Html.RenderPartial("_AdBanner120x60"); } 
         
    </div>
</div>