@using DasKlub.Lib.Resources


<ul id="logged_in_menu">
  
     
    <li><a href="@Url.Content("~/siteadmin/articles")">@Messages.ManageNews</a></li>
    @*  <li><a href="@Url.Content("~/siteadmin/ArticleComments")">@Messages.ManageNewsComments</a></li>
      *@  
    <li><a href="@Url.Content("~/siteadmin/sitebranding")">@Messages.Website: @Messages.Settings</a></li>
</ul>
<div style="margin-bottom: 15px;" class="clear">
</div>