@using BootBaronLib.Resources
@model DasKlub.Web.Models.Forum.ForumPost

@{
    ViewBag.Title = "Create Post In Forum: " + ViewBag.Forum.Title;
}
 

 
 
<div class="row">
    <div class="span8" >
      
        <div class="row">
            <div class="span3">
                <h2>Create Post</h2>
                 
            </div>
            <div class="span5">
                @{ Html.RenderPartial("_AdBanner"); }
            </div>
        </div>

        <hr />
        @using (Html.BeginForm("CreateForumPost", "Forum"))
        {
            <fieldset>
                <legend>
                    @ViewBag.Forum.Title &gt;
                    @ViewBag.SubForum.Title
                </legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Detail)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Detail, new {@class = "whatever-class", @cols = 80, @rows = 10})
                    @Html.ValidationMessageFor(model => model.Detail)
                    <input type="hidden" name="forumSubCategoryID" value="@ViewBag.SubForum.ForumSubCategoryID" />
                </div>
                        
                <p><button class="btn btn-success" type="submit">@Messages.Submit</button></p>
            </fieldset>
        }
 
        
    </div>

    <div class="span4"  >
        @{ Html.RenderPartial("_AdBanner2"); }
    </div>
</div>
 

@section _javascript {


    <script type="text/javascript">
        $(document).ready(function() {

            $("#Detail").focus();

        });
    </script>
}