@using System.Globalization
@using BootBaronLib.AppSpec.DasKlub.BOL
@using BootBaronLib.Operational
@using BootBaronLib.Resources
@using DasKlub.Models.Forum

@model ICollection<ForumPost>
 
 
<div class="row">
    <div class="span9" >
      
        <div class="row">
            <div class="span8">
                <h5><a href="~/forum">Forum</a> &gt; <a href="@ViewBag.Forum.ForumURL">@ViewBag.Forum.Title</a></h5>
                <h3>@ViewBag.Title</h3>
                <p>
                    @Html.Raw(Video.IFrameVideo(FromString.ReplaceNewLineWithHTML(ViewBag.SubForum.Description), 200, 300))
                </p>
                
                Posted By: <a href="@ViewBag.SubForum.UserAccount.UrlTo.ToString()">@ViewBag.SubForum.UserAccount.UserName</a>
                <i>@Utilities.TimeElapsedMessage(ViewBag.SubForum.CreateDate)</i>
                
                
                @if (ViewBag.UserID == ViewBag.SubForum.UserAccount.UserAccountID)
                {
                    @Html.ActionLink(Messages.Delete, "DeleteSubForum", new {@forumSubCategoryID = ViewBag.SubForum.ForumSubCategoryID},
                                     new {onclick = "return confirm('" + Messages.Delete + "');"})
                    ;
                }
            </div>
            
        </div>
            
      
        @if (Model != null && Model.Count > 0)
        {
            <hr />
            <br />
            foreach (var forumCat in Model)
            {
                <div class="row">
                    <a name="@forumCat.ForumPostID"></a>
                          
                    <div class="span2 user_icons">
                        <ul>
                            @Html.Raw(forumCat.UserAccount.ToUnorderdListItem) 
                        </ul>
                    </div>
                    <div class="span6">
                        <span title="@FromDate.DateToYYYY_MM_DD(forumCat.CreateDate)">@Utilities.TimeElapsedMessage(forumCat.CreateDate)</span>
                        <br />
                        <br />
                        <p>
                            @Html.Raw( Video.IFrameVideo(FromString.ReplaceNewLineWithHTML(forumCat.Detail), 200, 300))
                        </p>
                        @if (ViewBag.UserID == forumCat.CreatedByUserID)
                        {
                            @Html.ActionLink(Messages.Delete, "DeleteForumPost", new {@forumPostID = forumCat.ForumPostID},
                                             new {onclick = "return confirm('" + Messages.Delete + "');"})
                        }
                    </div>
                           
                  
                </div>
                <hr />
            }
        }
        <br />
        <a  class="btn btn-success" href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/" + ViewBag.SubForum.Key + "/create")">@Messages.Reply</a>
         
        
          @{
            int pageSize = Convert.ToInt32(ViewBag.PageCount);

            if (pageSize > 1)
            {
                <hr />
            
                <ul class="pager" style="float: left">

                    @for (int pageNumber = 1; pageNumber <= pageSize; pageNumber++)
                    {
                        
                         if (ViewBag.PageNumber == pageNumber)
                         {
                             <li>
                                 <a href="#" style="color: #000; background-color: #696969">@pageNumber</a>
                             </li>
                         }
                         else
                         {
                             <li> 

                                  <a href="@Url.Content("~/forum/" + ViewBag.Forum.Key + "/" + ViewBag.SubForum.Key + "/" + pageNumber.ToString())">@pageNumber.ToString(CultureInfo.InvariantCulture)</a>
                             </li>
                         }

                    }
                </ul>
                <div class="clear"></div>
            }
        }


        
        @{ Html.RenderPartial("_AdBanner"); }
        <hr />
        
        <a href="~/forum">Forum</a> &gt; <a href="@ViewBag.Forum.ForumURL">@ViewBag.Forum.Title</a> &gt; @ViewBag.Title
    </div>

    <div class="span3"  >
        @{ Html.RenderPartial("_AdBanner2"); }
    </div>
</div>